@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  cursor: pointer;
}

/*  */
body {
  font-family: "Nunito", sans-serif;
}

hr {
  height: 3px;
  background-color: inherit;
  border: none;
  width: inherit;
}

.css-1g2ualo-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: fit-content !important;
  padding: 0 !important;
}

.css-o4b71y-MuiAccordionSummary-content {
  margin: 0 !important;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  /* margin: 0 !important; */
}

.css-1g2ualo-MuiButtonBase-root-MuiAccordionSummary-root {
  margin: 0 !important;
}

.css-15v22id-MuiAccordionDetails-root {
  padding: 0 !important;
}

/* project stats grid container */
.pro-stat-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr fr;
  grid-template-areas:
    "grid-one grid-two grid-three"
    "grid-four grid-four grid-five";
  grid-gap: 1em;
  width: 100%;
  height: 100%;
  margin-top: 2em;
}

/* project stats grid items */
.grid-one {
  grid-area: grid-one;
}

.grid-two {
  grid-area: grid-two;
}

.grid-three {
  grid-area: grid-three;
}

.grid-four {
  grid-area: grid-four;
}

.grid-five {
  grid-area: grid-five;
}
